*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.content{
  height: 80vh;
}
.navbar{
background-color: #969899;
}
.register-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}